
// 顶部字体大小
$top-nav-font: 30rpx;
// 登录标题字体颜色
$login-title-color: #3a3a3a;
// 登录标题字体
$login-title-font: 48rpx;
// 连接状态字体
$link-status-font: 16.6rpx;
// 正确字体颜色
$success-color: #18BC37;
// 错误字体颜色
$error-color: #E43D33;
// 表单框背景颜色
$input-bg-color: #F7F7F7;
// 通用字体大小
$normal-font: 36rpx;
// 通用字体大小
$normal-mine-font: 21.8rpx;
// 主色primary
$kunyu-color-primary: #007aff;
// 主色相对禁用色
$kunyu-color-disable: #80C8FF;
// 底部字体尺寸
$foot-font: 16.6rpx;
// 底部字体颜色
$foot-color: #6A6A6A;
// 标题字体大小
$title-font: 23rpx;
// 边框线颜色
$border-color: #DCDCDC;
// 导航栏右上角图标
$nav-right-font: 12.75rpx;
// 底部按钮颜色
$foot-btn-color: #35A8FF;
// 白色字体颜色
$white-color: #FFFFFF;
// 白色背景色
$white-bg-color: #FFFFFF;
// 灰色背景色
$gray-bg-color: #F7F7F7;
// 次要文字颜色
$minor-font-color: #909399;
// 主要文字颜色
$main-font-color: #3A3A3A;
// 主要颜色
$main-color: #35A8FF;